@import url("https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.arrow::after {
 content: "";
 position: absolute;
 background: #eee;
 width: 12px;
 height: 12px;
 right: -4px;
 transform: rotate(45deg);
 border-radius: 3px;
}

/* Nav */
.nav-down {
 animation: nav1 0.2s ease-in 1;
}

.pipe-fix {
 transform: translate(0.75rem, 24rem);
}

.nav-up {
 animation: nav2 0.2s ease-in 1;
}

@keyframes nav1 {
 0% {
  transform: translateY(-20px);
 }

 25% {
  transform: translateY(-15px);
 }

 50% {
  transform: translateY(-10px);
 }

 75% {
  transform: translateY(-5px);
 }

 100% {
  transform: translateY(0px);
 }
}

@keyframes nav2 {
 0% {
  transform: translateY(0px);
  opacity: 100%;
 }

 25% {
  transform: translateY(-5px);
  opacity: 75%;
 }

 50% {
  transform: translateY(-10px);
  opacity: 50%;
 }

 75% {
  transform: translateY(-15px);
  opacity: 25%;
 }

 100% {
  transform: translateY(-20px);
  opacity: 0%;
  visibility: hidden;
 }
}

/* page dividers */
.bodyClass {
 scroll-behavior: smooth;
}

.custom-shape-divider-top-1631037182 {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 overflow: hidden;
 line-height: 0;
}

.custom-shape-divider-top-1631037182 svg {
 position: relative;
 display: block;
 width: calc(136% + 1.3px);
 height: 150px;
}

.custom-shape-divider-top-1631037182 .shape-fill {
 fill: #00c2ef;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

.background-primary-secondary-vertical {
 background-image: linear-gradient(-45deg, #00c2ef 50%, #ffb900 50%);
}
.background-primary-secondary-horizontal {
 background-image: linear-gradient(45deg, #00c2ef 50%, #ffb900 50%);
}

/* Fonts */

.glory {
 font-family: "Glory", sans-serif !important;
}

/* Navbar */
.scrolling-active {
 background-color: #1e292a;
 transition: background-color 0.3s ease-in-out 0.2s;
}

.nav-item-active {
 color: #f38a8a;
 border-bottom: 3px solid;
}

/* Utility */

.light-shadow-small {
 box-shadow: 0px 4px 0px 0px rgb(79, 95, 99), 0px 5px 10px 0px #0f1415ff;
}
.light-shadow-medium {
 box-shadow: 0px 10px 0px 0px rgb(79, 95, 99), 0px 10px 10px 0px #0f1415ff;
}

.light-shadow-big {
 box-shadow: 0px 13px 0px 0px rgb(79, 95, 99), 0px 13px 10px 0px #0f1415ff;
}

.medium-shadow-small {
 box-shadow: 0px 5px 0px 0px rgb(38, 51, 53), 0px 5px 10px 0px #0f1415ff;
}

.medium-shadow-medium {
 box-shadow: 0px 10px 0px 0px rgb(38, 51, 53), 0px 10px 10px 0px #0f1415ff;
}

.medium-shadow-big {
 box-shadow: 0px 13px 0px 0px rgb(38, 51, 53), 0px 13px 10px 0px #0f1415ff;
}

.pipe-primary-shadow {
 box-shadow: 0px 2px 0px #ffb900;
}

.text-over-image {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.pipe-shine {
 filter: blur(10px);
}

.red-shadow-small {
 box-shadow: 0px 5px 0px 0px rgb(38, 51, 53), 0px 5px 10px 0px #ff0000;
}

.green-shadow-small {
 box-shadow: 0px 5px 0px 0px rgb(38, 51, 53), 0px 5px 10px 0px #00ff00;
}

.white-text-shadow {
 text-shadow: 5px 5px #000000;
}

.robard-bridge-right {
 width: 95px;
 right: 10.4rem;
}
.robard-bridge-left {
 width: 95px;
 left: 10.4rem;
}

.game-visual {
 animation: game-visual 6s 0s infinite alternate ease-in-out both;
}

@keyframes game-visual {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(5px);
 }

 100% {
  transform: translateY(0);
 }
}

.generic-number {
 animation: game-visual 5s 0.6s infinite alternate ease-in-out both;
}

@keyframes generic-number {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(10%) translateX(0);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

/* showcase */
.showcase {
 position: relative;
 width: 100%;
 background: #1e292a;
 overflow: hidden;
}

/* Game Overview */

.lineup-box-animation {
 animation: lineup-box-animation 6s 0s infinite alternate ease-in-out both
  running;
}

@keyframes lineup-box-animation {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(3px);
 }

 100% {
  transform: translateY(0);
 }
}

.lineup-background-size {
 height: 520px;
}

.lineup-out-1 {
 animation: lineup-out 0.7s 0.4s 1 normal ease-in-out both running;
}

.lineup-out-2 {
 animation: lineup-out 0.7s 0.3s 1 normal ease-in-out both running;
}

.lineup-out-3 {
 animation: lineup-out 0.7s 0.2s 1 normal ease-in-out both running;
}

.lineup-out-4 {
 animation: lineup-out 0.7s 0.1s 1 normal ease-in-out both running;
}

.lineup-out-5 {
 animation: lineup-out 0.7s 0s 1 normal ease-in-out both running;
}

@keyframes lineup-out {
 0% {
  transform: translateY(0);
 }

 100% {
  opacity: 0;
  transform: translateY(500%);
 }
}

.lineup-in-1 {
 animation: lineup-in 0.7s 0s 1 normal ease-in-out both running;
}

.lineup-in-2 {
 animation: lineup-in 0.7s 0.1s 1 normal ease-in-out both running;
}

.lineup-in-3 {
 animation: lineup-in 0.7s 0.2s 1 normal ease-in-out both running;
}

.lineup-in-4 {
 animation: lineup-in 0.7s 0.3s 1 normal ease-in-out both running;
}

.lineup-in-5 {
 animation: lineup-in 0.7s 0.4s 1 normal ease-in-out both running;
}

@keyframes lineup-in {
 0% {
  opacity: 0;
  transform: translateY(500%);
 }

 100% {
  opacity: 1;
  transform: translateY(0);
 }
}

.lineup-1 {
 animation: lineupAmimate 6s 0s infinite alternate ease-in-out none running;
}

.lineup-2 {
 animation: lineupAmimate 6s 0.2s infinite alternate ease-in-out none running;
}

.lineup-3 {
 animation: lineupAmimate 6s 0.4s infinite alternate ease-in-out none running;
}

.lineup-4 {
 animation: lineupAmimate 6s 0.6s infinite alternate ease-in-out none running;
}

.lineup-5 {
 animation: lineupAmimate 6s 0.8s infinite alternate ease-in-out none running;
}

.lineup-6 {
 animation: lineupAmimate 6s 1s infinite alternate ease-in-out none running;
}

.lineup-7 {
 animation: lineupAmimate 6s 1.2s infinite alternate ease-in-out none running;
}

.lineup-8 {
 animation: lineupAmimate 6s 1.4s infinite alternate ease-in-out none running;
}

@keyframes lineupAmimate {
 0% {
  transform: translateY(0);
 }

 50% {
  transform: translateY(-4%);
 }

 100% {
  transform: translateY(0);
 }
}

.compare1 {
 animation: compare1 10s 0s infinite normal ease-in-out none running;
}

.compare2 {
 animation: compare1 10s 0.1s infinite normal ease-in-out none running;
}

.compare3 {
 animation: compare1 10s 0.2s infinite normal ease-in-out none running;
}

.compare4 {
 animation: compare1 10s 0.3s infinite normal ease-in-out none running;
}

.compare5 {
 animation: compare1 10s 0.4s infinite normal ease-in-out none running;
}

.compare6 {
 animation: compare1 10s 0.5s infinite normal ease-in-out none running;
}

.compare7 {
 animation: compare1 10s 0.6s infinite normal ease-in-out none running;
}

.compare8 {
 animation: compare1 10s 0.7s infinite normal ease-in-out none running;
}

.compare9 {
 animation: compare1 10s 0.8s infinite normal ease-in-out none running;
}

.lowerCompare1 {
 animation: compare1 10s 1s infinite normal ease-in-out none running;
}

.lowerCompare2 {
 animation: compare1 10s 1.1s infinite normal ease-in-out none running;
}

.lowerCompare3 {
 animation: compare1 10s 1.2s infinite normal ease-in-out none running;
}

.lowerCompare4 {
 animation: compare1 10s 1.3s infinite normal ease-in-out none running;
}

.lowerCompare5 {
 animation: compare1 10s 1.4s infinite normal ease-in-out none running;
}

.lowerCompare6 {
 animation: compare1 10s 1.5s infinite normal ease-in-out none running;
}

.lowerCompare7 {
 animation: compare1 10s 1.6s infinite normal ease-in-out none running;
}

.lowerCompare8 {
 animation: compare1 10s 1.7s infinite normal ease-in-out none running;
}

.lowerCompare9 {
 animation: compare1 10s 1.8s infinite normal ease-in-out none running;
}

@keyframes compare1 {
 0% {
  transform: translateY(0);
 }

 10% {
  transform: translateY(-5%);
 }

 20% {
  transform: translateY(0);
 }

 40% {
  transform: translateY(-2%);
 }

 60% {
  transform: translateY(0);
 }

 80% {
  transform: translateY(-2%);
 }

 100% {
  transform: translateY(0);
 }
}

/* Pick a Tournament */

.background-ocean {
 background-image: url("cunt.gif");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}
.background-dark {
 background-color: hsla(185, 17%, 14%, 0.975);
}

.background-secondary {
 background-image: linear-gradient(
  hsl(191, 100%, 47%),
  hsla(185, 17%, 14%, 0.98) 75%
 );
}

.vapur-token-1 {
 animation: vapur-token-1 6s 0.4s infinite alternate ease-in-out none running;
 filter: blur(2px);
}

.vapur-token-2 {
 animation: vapur-token-2 6s 0s infinite alternate ease-in-out none running;
}

.vapur-token-3 {
 animation: vapur-token-3 6s 0.8s infinite alternate ease-in-out none running;
 filter: blur(2.3px);
}

@keyframes vapur-token-1 {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%) translateX(-3%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

@keyframes vapur-token-2 {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%) translateX(0%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

@keyframes vapur-token-3 {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-7%) translateX(5%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

/* Choose a Tier */

.sexyRobard {
 animation: sexyRobard 6s 0.6s infinite alternate ease-in-out none running;
}

@keyframes sexyRobard {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

/* Create a Lineup */

.nikeBlock {
 animation: nikeBlock 6s 0s infinite alternate ease-in-out none running;
}

.appleBlock {
 animation: appleBlock 6s 0.6s infinite alternate ease-in-out none running;
 filter: blur(0px);
}

.pepsiBlock {
 animation: pepsiBlock 6s 1.2s infinite alternate ease-in-out none running;
 filter: blur(2px);
}

.rightOrbBlock {
 animation: pepsiBlock 6s 1.2s infinite alternate ease-in-out none running;
}

@keyframes appleBlock {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%) translateX(-3%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}
@keyframes nikeBlock {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%) translateX(-5%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}
@keyframes pepsiBlock {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-10%) translateX(0%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

.follow-us img {
 padding: 0px 10px;
 transition: transform 0.2s ease-in-out;
 cursor: pointer;
}
.follow-us img:hover {
 transform: scale(1.2);
}

.moving-chart {
 animation: chartAnimate 20s linear infinite;
}

@keyframes chartAnimate {
 0% {
  transform: translateY(0);
 }

 100% {
  transform: translateY(-14.151%);
 }
}

.chart-vertical {
 height: 110%;
}

.chart-horizontal {
 height: 120%;
}

.chart-width {
 width: 2px;
}
.chart-height {
 height: 2px;
}

section * {
 z-index: 8;
}

.token {
 position: absolute;
 cursor: default;
 animation: tokenAnimate 180s linear infinite;
 transition: background-color 0.2s linear;
}

.tokenCont {
 overflow: hidden;
}

.token:hover {
 background-color: #eee;
}

.over-tokens {
 z-index: 8;
 position: relative;
}

.bodyClass {
 position: absolute;
 width: 100%;
 height: inherit;
 overflow-x: hidden;
}

@keyframes tokenAnimate {
 0% {
  transform: scale(0.5) translateY(0) rotate(0deg);
  opacity: 0;
  filter: blur(2px);
 }

 10% {
  opacity: 0.3;
  filter: blur(0px);
 }

 80% {
  opacity: 0.3;
 }

 100% {
  transform: scale(1) translateY(-15000%) rotate(0deg);
  opacity: 0.3;
 }
}

.vapur {
 position: absolute;
 cursor: default;
 background: #eee;
 animation: vapurAnimate 30s linear infinite;
 transition: background-color 0.2s linear;
 z-index: 0;
 filter: blur(20px);
}

@keyframes vapurAnimate {
 0% {
  transform: scale(0.2) translateY(0) rotate(0deg);
  opacity: 0;
 }

 10% {
  opacity: 1;
 }

 80% {
  opacity: 1;
 }

 100% {
  transform: scale(8) translateY(-550%) rotate(0deg);
  opacity: 0;
  opacity: 0;
 }
}

/* ocean */

section .ocean {
 position: absolute;
 z-index: 0 !important;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 70px;
 background: #00a2c7;
 background-size: 1000px 100px;
 filter: blur(2px);
}
section .ocean-front {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 10px;
 background: #00c2ef;
 background-size: 1000px 100px;
 z-index: 6 !important;
}

section .wave {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: url(wavey.webp);
 background-size: 1000px 100px;
 filter: blur(2px);
}

section .wave.wave1 {
 animation: animate 45s linear infinite;
 z-index: 3 !important;
 opacity: 1;
 animation-delay: 0s;
 bottom: 33px;
 height: 70px;
}

section .wave.wave2 {
 animation: animate2 30s linear infinite;
 z-index: 4 !important;
 opacity: 1;
 animation-delay: -7s;
 bottom: 22px;
 height: 80px;
}

section .wave.wave3 {
 animation: animate3 35s linear infinite;
 z-index: 5 !important;
 opacity: 1;
 animation-delay: -2s;
 bottom: 11px;
 height: 90px;
}

section .wave.wave4 {
 animation: animate4 30s linear infinite;
 z-index: 6 !important;
 opacity: 1;
 animation-delay: -5s;
 bottom: 0px;
 height: 100px;
}

section .low-1 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.4);
 filter: blur(10px);
 background-size: 1000px 100px;
 z-index: 3 !important;
}

section .low-2 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.3);
 filter: blur(20px);
 background-size: 1000px 100px;
 z-index: 4 !important;
}
section .low-3 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.2);
 filter: blur(20px);
 background-size: 1000px 100px;
 z-index: 5 !important;
}

@keyframes animate {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: 1000px;
 }
}

@keyframes animate2 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: -1000px;
 }
}

@keyframes animate3 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: 1000px;
 }
}

@keyframes animate4 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: -1000px;
 }
}

/* Game Modes */
.myAccordion .accordionContentBx .content {
 overflow: hidden;
 transition: 0.5s;
 overflow-y: auto;
}

.myAccordion .accordionContentBx.active .content {
 height: 150px;
}

/* Roadmap */

.roadmapRow section {
 width: calc(50% - 60px);
}

.wrapper .roadmapCenter-line {
 height: 69% !important;
}

.roadmapRow-1 section::before {
 right: -14px;
}

.roadmapRow-2 section::before {
 left: -14px;
}

.roadmapRow-3 section::before {
 right: -14px;
}

.roadmapRow-4 section::before {
 left: -14px;
}

.roadmapRow-1 section .roadmapCenterSticker,
.roadmapRow-3 section .roadmapCenterSticker {
 right: -92px;
 top: 25px;
}

.roadmapRow-2 section .roadmapCenterSticker,
.roadmapRow-4 section .roadmapCenterSticker {
 left: -92px;
 top: 25px;
}

/* Team */

.caleb-head {
 left: 35.5%;
 animation: CalebHead 6s 0s infinite alternate ease-in-out none running;
}

@keyframes CalebHead {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-5%);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

.matt-head {
 left: 69%;
 animation: MattHead 6s 0.8s infinite alternate ease-in-out none running;
}

@keyframes MattHead {
 0% {
  transform: translateY(0) translateX(0);
 }

 50% {
  transform: translateY(-5%) translateX(0);
 }

 100% {
  transform: translateY(0) translateX(0);
 }
}

@media (max-width: 1280px) {
 .robard-bridge-right {
  right: 1.8rem;
 }
 .robard-bridge-left {
  left: 1.8rem;
 }
}

@media (max-width: 1024px) {
 .arrow::after {
  content: "";
  position: absolute;
  background: #eee;
  width: 10px;
  height: 10px;
  right: -1px;
  bottom: -3.5px;
  transform: rotate(45deg);
  border-radius: 3px;
 }

 .lowerCompare1 {
  animation: compare1 10s 0s infinite normal ease-in-out none running;
 }

 .lowerCompare2 {
  animation: compare1 10s 0.1s infinite normal ease-in-out none running;
 }

 .lowerCompare3 {
  animation: compare1 10s 0.2s infinite normal ease-in-out none running;
 }

 .lowerCompare4 {
  animation: compare1 10s 0.3s infinite normal ease-in-out none running;
 }

 .lowerCompare5 {
  animation: compare1 10s 0.4s infinite normal ease-in-out none running;
 }

 .lowerCompare6 {
  animation: compare1 10s 0.5s infinite normal ease-in-out none running;
 }

 .lowerCompare7 {
  animation: compare1 10s 0.6s infinite normal ease-in-out none running;
 }

 .lowerCompare8 {
  animation: compare1 10s 0.7s infinite normal ease-in-out none running;
 }

 .lowerCompare9 {
  animation: compare1 10s 0.8s infinite normal ease-in-out none running;
 }
 .lineup-background-size {
  height: 750px;
 }

 .vapur-token-1 {
  filter: blur(1px);
 }

 .vapur-token-3 {
  filter: blur(1.1px);
 }
}

@media (max-width: 768px) {
 .lineup-background-size {
  height: 520px;
 }

 .graphy {
  height: 40vw;
 }
 .wrapper .roadmapRow section {
  width: 100%;
 }

 .roadmapRow-1 section::before,
 .roadmapRow-2 section::before,
 .roadmapRow-3 section::before,
 .roadmapRow-4 section::before {
  display: none;
 }
}

@media only screen and (max-width: 650px) {
 section .step {
  display: none;
 }

 .title-div .title {
  padding-top: 2rem;
  width: 12rem;
  padding-right: 10px;
 }
}

@media (max-width: 1280px) {
 .matt-head {
  left: 67%;
 }

 .caleb-head {
  left: 25%;
 }
}
